*{
    color: white;
    margin: 0;
    padding: 0;
}

#clone{
    background-color: black;
    font-size: 20px;
    height: 50px;
}

#button{
    background-color: orange;
}

a{
    margin-right: 180px;
}

#logo{
    font-size: 25px;
    color: tomato;
}